.ant-popover-inner {
    max-height: 60vh !important;
    overflow: auto !important;
}

.ant-card {
    width: 100%;
}

.transaction_container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: 100vh;
    overflow: scroll;
}

.access-pass-curreny-selector-input svg {
    width: 24px;
    height: 24px;
}

.access-pass-price-input-container {
    padding-left: 16px;
    align-self: stretch;
    border-radius: 6px;
    background: #FFF;
}

.access-pass-price-input-content {
    display: flex;
    padding-right: 12px;
    align-self: stretch;
    background: var(--white, #FFF);
}

.transactions-filter {
    gap: 9px;
    align-self: stretch;
}

.transactions-filter .filter {
    padding: 8px 16px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.65);
}

.filter-txt {
    color: #000;
    text-align: center;
    font-family: "Scandia-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.4px;
}

.selected-transaction-filter {
    border: 1px solid #692DF6;
}

.selected-transaction-filter .filter-txt {
    color: #692DF6;
    font-weight: 500;
}