.dashboard-bottom-navbar {
    background: rgb(239, 239, 244);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dashboard-bottom-navbar .ant-flex{
    padding: 8px 0px 28px 0px;
    flex: 1;
}

.selected-menu {
    color: #692DF6
}