.payment-group-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(180deg, #A0DE7E 0%, #54CB68 100%);
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Scandia-Regular";
    font-size: 10.8px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.payment-details-card {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 6px 0px 22.7px 0px rgba(180, 180, 180, 0.25);
}

.title-container {
    padding: 0px 20px 6px 12px;
}

.title {
    color: #525260;
    font-family: "Scandia-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.icon-container {
    padding-right: 12px;
    gap: 10px;
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    background: linear-gradient(120deg, #08C1FD 13.39%, #4C79F5 50%, #8246F5 86.61%);
}

.icon .txt {
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Scandia-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px
}


.payment-container {
    /* padding: 0px 16px; */
    height: 100vh;
}

.payment-card {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 6px 0px 22.7px 0px rgba(180, 180, 180, 0.25);
}

.payment-card-header-container {}

.payment-btn-container {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    z-index: 1;
    padding: 20px 16px 40px 16px;
    box-sizing: border-box;
    bottom: 0px;
    background: #EFEFF4;
}

.ant-modal-content {
    padding: 0px !important;

}

.access-payment-btn-container {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    z-index: 1;
    padding: 20px 16px 40px 16px;
    box-sizing: border-box;
    bottom: 0px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.group-name-icon-container {
    padding-right: 12px;
    gap: 10px;
}

.group-name-icon {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: linear-gradient(120deg, #08C1FD 13.39%, #4C79F5 50%, #8246F5 86.61%);
}

.group-name-icon .txt {
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Scandia-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

#subscriber-wallet {
    padding: 0px !important;
    width: fit-content;
}