.btn {
    display: flex;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
    width: 100%;
    border: none;
}

.btn-outlined {
    background-color: #FFF;
    border: 1px solid  #692DF6
}

.btn-contained {
    background-color: #692DF6;
}


.btn-txt {
    /* color: type === "contained" ? "#fff" : "#692DF6", */
    width: 100%;
    line-height: 22px;
}