.custom-select {
    width: 100%;
    font-family: "Scandia-Regular";
}

.custom-select .ant-select-selection-item {
    display: flex;
    align-items: center;
}


.description-txtarea {
    border: none !important;
    border-radius: 6px;
    outline: none;
    padding: 16px 12px 12px 12px;
    font-family: "Scandia-Regular";
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.31px;
}

.feedback-modal .ant-modal-content {
    padding: 0 !important;
    border-radius: 8px !important;
    background: #FFFFFF;
    background-blend-mode: color-dodge, normal;
    /* backdrop-filter: blur(25px); */
}

.feedback-modal .ant-modal-body {
    padding: 0 !important;
}

.invite-btn {
    overflow: hidden;
    color: #692DF6;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Scandia-Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
}