.chatlinked-chat-details-container {
    padding: 20px;
    height: 100vh;
    overflow: scroll;
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    background: linear-gradient(120deg, #08C1FD 13.39%, #4C79F5 50%, #8246F5 86.61%);
}

.icon .txt {
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Scandia-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px
}

.chatlinked-chat-details-container .group-name {
    color: #181827;
    letter-spacing: -0.45px;
}

.chatlinked-chat-details-container .btn-container {
    align-self: stretch;
}

.btn-container .ant-card {
    width: 100%;
    padding: 12px 0px;
}

.btn-container .ant-card-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.btn-container .ant-card-body .ant-typography {
    color: #692DF6;
}

.chatlinked-chat-details-container .description-txt {
    color: #000;
    letter-spacing: -0.4px;
}

.chatlinked-chat-details-container .accesspass .ant-card {
    width: 100%;
}

.chatlinked-chat-details-container .accesspass .access-pass-plan-list {
    padding-left: 12px;
    align-self: stretch;
}

.chatlinked-chat-details-container .accesspass .access-pass-plan-content {
    padding: 4px 12px 4px 0px;
    flex: 1 0 0;
    border-bottom: 1px solid #EEE;
}

.chatlinked-chat-details-container .accesspass .access-pass-plan-main {
    padding: 12px 0px;
    flex: 1 0 0;
}

.chatlinked-chat-details-container .accesspass .amount-section {
    color: #000;
    letter-spacing: -0.4px;
}

.access-pass-total-earnings{
    font-family: "Scandia-Regular";
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2px;
}