.analytics-container {
    padding: 20px;
    overflow: auto;
    margin-bottom: 100px;
    height: calc(100vh - 102px);
    margin-bottom: 300px;
}

.analytics-total-connected-user {
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.analytics-total-connected-user .text {
    line-height: 30px;
    letter-spacing: '-0.1px'
}

.analytics-chart {
    padding: 16px 14px;
}