.select-chat-type-page {
    height: 100vh;
    background: #EFEFF4;
}

.select-chat-type-container {
    padding: 0px 16px;
}

.select-chat-type-progress-container {
    padding: 20px 0px;
}

.select-chat-type-header {
    color: #101019 !important;
    line-height: 30px !important;
    letter-spacing: -0.1px !important;
}

.select-chat-type-label {
    padding-bottom: 10px;
}