:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #EFEFF4;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Scandia-Regular';
  font-weight: 100;
  src: url(/src/assets/fonts/Scandia-Regular.ttf) format("truetype")
}

@font-face {
  font-family: 'Scandia-Medium';
  font-weight: 100;
  src: url(/src/assets/fonts/Scandia-Medium.ttf) format("truetype")
}

.ant-typography {
  margin: 0 !important;
  font-style: normal !important;
}

.heading1 {
  line-height: 40px !important;
}

.heading2 {
  line-height: 30px !important;
  letter-spacing: -0.1px !important;
}

.large-para-regular {
  color: #525260;
  font-family: "Scandia-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.31px;
}

.large-para-medium {
  color: #000;
  font-family: "Scandia-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.4px;
}

.small-para-medium {
  color: #525260;
  font-family: "Scandia-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.xsmall-para-regular {
  color: var(--weak, #999);
  font-family: "Scandia-Regular";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.08px;
}

.txt-bold {
  font-weight: 700 !important;
}

.ant-card-body {
  padding: 0 !important;
  opacity: 1;
}

.ant-btn span {
  color: #FFF;
  text-align: center;
  font-family: "Scandia-Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 122.222% */
  letter-spacing: -0.45px;
}

.btn {
  display: flex;
  padding: "16px 12px";
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-0);
  align-self: stretch;
}

.ant-checkbox-inner {
  border-radius: 20px !important;
  width: 22px !important;
  height: 22px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #692DF6 !important;
  border-color: #692DF6 !important;


}

.ant-checkbox-inner::after {
  inset-inline-start: 7px !important;
  background-color: #692DF6 !important;
}

.disabled {
  color: #692DF6 !important;
  opacity: 0.4;
}

.txt-center {
  text-align: center;
}

.select-chat-type-card .ant-card-body {
  padding: 20px 36px 20px 20px !important;
}

h3 {
  line-height: 25px;
  letter-spacing: -0.45px;
}

.tags-regular {
  color: #000;
  font-family: "Scandia-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.small-para-regular {
  color: #000;
  font-family: "Scandia-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0;
}

.corner-badge {
  display: block;
  border-style: solid;
  border-width: 20px 20px 0px 20px;
  border-color: transparent #692DF6 transparent transparent;
  position: absolute;
  border-bottom-right-radius: 4px;
  bottom: 0;
  right: 0;
}

.access-pass-currency-selector {
  display: flex;
  height: 44px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 6px;
  background: #FFF;
}

.access-pass-curreny-selector-input {
  display: flex;
  padding: 11px 16px 11px 0px;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  flex: 1 0 0;
}

.cu {
  flex: 1
}

.txt {
  color: #000;
  font-feature-settings: 'case' on;
  font-family: "Scandia-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.infinite-scroll-component__outerdiv {
  width: 100%
}

.ant-message {
  top: 0 !important
}



.ant-message-notice-content {
  width: 100% !important;
  border-radius: 8px !important;
  background-color: #FFF !important;
  padding: 8px 12px !important;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
}

.ant-message-notice-wrapper {
  padding: 8px !important;
}

.ant-message-custom-content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #000;
  font-family: "Scandia-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.31px;
  text-align: left;
}

.ant-message-custom-content .anticon {
  margin-inline-end: 0px;
}

.error-message .ant-message-notice-content {
  width: 100% !important;
  border-radius: 8px !important;
  background-color: #FF3141 !important;
  padding: 8px 12px !important;
  border: 1px solid #D9281E;
}

.error-message .ant-message-custom-content {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFF;
  font-family: "Scandia-Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.31px;
}

.heading-regular {
  font-weight: 400 !important;
  font-family: "Scandia-Regular";
}

.disabled-onboarding-btn {
  color: rgba(60, 60, 67, 0.60) !important;
}

.no-padding-modal .ant-modal-content {
  padding: 0px;
}

.no-padding-modal .ant-modal-content .ant-modal-body {
  padding: 0px !important;
}

.ant-popover-inner {
  max-height: 40vh !important;
  overflow: auto;
}

.ant-tooltip-inner{
  background: #FFFFFF !important;
  color: #333333 !important;
  padding: 8px 12px !important;
  font-family: "Scandia-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.ant-tooltip-arrow::before {
  background: #FFFFFF !important;
}
