:root {
  margin: 0;
  padding: 0 !important
}

#root {
  padding: 0
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Scandia-Regular';
  font-weight: 100;
  src: url(/src/assets/fonts/Scandia-Regular.ttf) format("truetype")
}

@font-face {
  font-family: 'Scandia-Medium';
  font-weight: 100;
  src: url(/src/assets/fonts/Scandia-Medium.ttf) format("truetype")
}