/* .slick-slide>div {
    padding: 0px !important;
} */
.ant-carousel {
    width: 100%;
    margin-bottom: 22px;
}

.slick-slider {
    background: #fff;
    border-radius: 8px
}

.slick-dots button {
    background: #D9D9D9 !important;
    width: 5.16px !important;
    height: 5.16px !important;
    border-radius: 100% !important;
}

.slick-dots {
    gap: 4.259px !important;
}

.slick-dots li {
    width: 0px !important;
}

.slick-active button {
    background: #976AFF !important;
    width: 5.16px !important;
    height: 5.16px !important;
    border-radius: 100% !important;
}

.slick-list {
    margin: 0 -5px;
}

/* .slick-slide>div {
    padding: 0 5px;
} */

/* the parent */
/* .slick-list {
    margin: 0 -27px;
} */

.slick-dots-bottom {
    bottom: -20px !important;
}

.carousel-card {
    padding: 16px;
    align-self: stretch;
}

.carousel-card h1 {
    color: #181827;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.2px;
    font-family: "Scandia-Regular";
}

.carousel-bottom-section {
    align-self: stretch;
}

.carousel-bottom-section .ant-flex{
    align-self: stretch;
}

.carousel-bottom-section .sub-section-value {
    color: #000;
    font-family: "Scandia-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.4px;
}

.carousel-bottom-section .percentage-change {
    color:  #16C784;
    text-align: right;
    font-weight: 500;
    font-family: "Scandia-Medium";
}

.total-earnings {
    font-family: 'Scandia-Medium' !important;
    font-weight: 500 !important;
}

.community-stats-title {
    line-height: 18px;
    letter-spacing: -0.1px;
}